<!DOCTYPE html>
<html lang="en">
  <head>
    <script>var _gaq = _gaq || []; _gaq.push(['_setDomainName', location.hostname]);</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1">
    <title>
      <%_ if (locals.title) { %><%= locals.title + ' - ' %><% } _%>
      Félix “passcod” Saparelli - Blog
    </title>
    <link rel="alternate" href="/feed">
    <link rel="stylesheet" href="<%= asset('style.css') %>">
    <script src="<%= asset('fathom.js') %>" async></script>
  </head>

  <body>
    <div class="raised">
      <header class="root">
        <h1><a href="/">Félix Saparelli</a></h1>
        <p class="sidelong"><a rel="me" href="https://passcod.name">(about me)</a></p>
        <p class="subtitle">a.k.a. passcod<a href="https://blog.passcod.name/trademark">™</a></p>
      </header>
      <main>
        <%- include(partial, locals) %>
      </main>
    </div>
    <footer class="root">
      <p>
        <a rel="alternate" href="/feed">Feed</a>.
        © 2008–<%= new Date().getUTCFullYear() %>.
        Content licensed under <a rel="license" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>.
      </p>
    </footer>

    <button class="flip" title="Turn the lights off.">day</button>
    <script async src="<%= asset('circadian.js') %>"></script>
    <script async src="<%= asset('prism.js') %>"></script>

    <link rel="stylesheet" href="<%= asset('fonts.css') %>">
    <link rel="stylesheet" href="<%= asset('prism.css') %>">
  </body>
</html>
